sudo: false
language: node_js

node_js:
  - 'iojs'
  - '0.12'
  - '0.10'

after_script:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
#  - cat ./coverage/lcov.info | ./node_modules/codeclimate-test-reporter/bin/codeclimate.js
